@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard-Regular', "Pretendard-Bold", 'Pretendard-Black','LINESeedKR-Bd', 'Noto Sans KR', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

pre {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard-Regular', "Pretendard-Bold", 'Pretendard-Black','LINESeedKR-Bd', 'Noto Sans KR', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.ProseMirror:focus {
  outline: none;
}



.tiptap {
   /* Heading styles */
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     line-height: 1.1;
     margin-top: 2.5rem;
     text-wrap: pretty;
   }

   h1,
   h2 {
     margin-top: 3.5rem;
     margin-bottom: 1.5rem;
   }
   h1 {
     font-size: 1.4rem;
   }
   h2 {
     font-size: 1.2rem;
   }
   h3 {
     font-size: 1.1rem;
   }
   h4 {
     font-size: 1rem;
   }
   h5 {
     font-size: 0.9rem;
   }
   h6 {
     font-size: 0.8rem;
   }

  :first-child {
    margin-top: 0;
  }

  blockquote {
    border-left: 3px solid darkgray;
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  /* List styles */
  ul {
    list-style-type: disc; 
  }

  ol {
    list-style-type: decimal; 
  }

  ul, 
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  pre {
    background: #222222;
    border-radius: 0.5rem;
    color: #fafafa;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  hr {
    border: none;
    border-top: 1px solid rgba(209, 213, 219);
    cursor: pointer;
    margin: 2rem 0;

    &.ProseMirror-selectednode {
      border-top: 1px solid purple;
    }
  }
}

